table {
    background-color: white;
    border-spacing: 0;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

table thead tr th {
    background-color: var(--dusty);
    color: white;
    font-weight: normal;
    padding: .5rem;
}

table tbody tr td {
    color: var(--lavendar);
    padding: .25rem .5rem;
}

table tbody tr:hover td {
    background-color: aliceblue;
    color: cornflowerblue;
    cursor: pointer;
}

table tbody tr:nth-child(even) {
    background-color: var(--screen);
}

table tbody tr td.delete span {
    color: #999;
    font-size: 1.1rem;
}

table tbody tr td.delete:hover span {
    color: red;
}
