select {
    background-color: white;
    border: 1px solid var(--dusty-light);
    border-radius: .3rem;
    color: var(--lavendar-light);
    font-size: 1rem;
    height: 2.35rem;
    padding: .5rem .5rem .5rem .25rem;
    width: 100%;
}

select.placeholder {
    color: var(--paper);
}

select:active,
select:focus {
    border-color: cornflowerblue;
    color: var(--lavendar-light);
    outline: 0;
}

select:disabled {
    background-color: #eee;
}