header {
    align-content: center;
    background-color: var(--lavendar-dark);
    display: flex;
    justify-content: space-between;
    padding: .75rem
}

header h1 {
    color: whitesmoke;
    font-size: 1.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/*header img:first-of-type {*/
    /*height: 30px;*/
    /*width: 150px;*/
/*}*/

header img:last-of-type {
    height: 35px;
}

header div.content-right {
    display: flex;
}

header div.logo {
    color: aquamarine;
    font-size: 1.5rem;
}

header div.user-details {
    align-self: center;
    color: whitesmoke;
    display: none;
    padding-left: 1rem;
}

header div.user-details.show {
    display: flex;
    flex-direction: column;
}

header div.user-details div a {
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    font-size: .8rem;
    justify-content: flex-end;
    text-decoration: underline;
}

header div.user-details div a:hover {
    color: aqua;
}

header div.user-photo {
    color: whitesmoke;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1rem;
    }

    /*header img:first-of-type {*/
        /*height: 15px;*/
        /*width: 75px;*/
    /*}*/

    header img:last-of-type {
        height: 20px;
    }
}

