table.tyre-orders-summary {
    border: 3px solid var(--dusty);
    border-collapse: separate;
    border-radius: .3rem;
    border-spacing: 0;
    font-size: .9rem;
    margin-top: .25rem;
}

table.tyre-orders-summary thead tr th {
    background-color: var(--dusty);
    padding: .25rem;
}

table.tyre-orders-summary tbody tr td.delete {
    font-size: .9rem;
    padding: 0;
}

table.tyre-orders-summary tbody tr td.delete span.icon {
    margin: 0;
}